*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins';
}

body{
  display: flex;
  background: #223243;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  padding: 40px;
  border-radius: 20px;
  border: 8px solid #223243;
}

 .form{
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

 .container .form h2 {
  letter-spacing: 0.1em;
  color: #fff;
font-weight: 500;
}

.container .form.signin,
.container.signinform .form.signup {
  display: none;
}

.container.signinform .form.signin{
  display: flex;
}

.container .form .inputBox{
  position: relative;
  width: 300px;
}

.container .form .inputBox input{
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #223243;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 25px;
  font-style: 300;
  transition: 0.5s;
  outline: none;
  font-size: 1em
}


